COPY INTO {{ parameters.tableName }} 
FROM {{ parameters.fileName }}
{% if parameters.fileFormatName is defined and parameters.fileFormatName != None and parameters.fileFormatName != '' %}
FILE_FORMAT = (FORMAT_NAME = '{{ parameters.fileFormatName }}')
{% else %}
FILE_FORMAT = (TYPE = CSV COMPRESSION = GZIP) 
{% endif %}
{% if parameters.copyMatchFields is defined and parameters.copyMatchFields == 'Y' and parameters.copyMatchFields != 'N' %}
MATCH_BY_COLUMN_NAME = 'CASE_INSENSITIVE'
{% endif %}